@use "../../styles/variables" as *;

.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: $space-6 $space-3;

  .hero-title {
    font-size: $font-3xl;
    font-weight: 600;
    color: $color-text-primary;
  }

  .hero-subtitle {
    margin-top: $space-2;
    font-size: $font-md;
    color: $color-text-secondary;
  }
}